body, html{
	background: #fefefe;
  text-align: center;
  font-family: 'Ubuntu';
}

#wrapper{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

@media only screen and (min-width: 768px) {
  #wrapper {
    width: 33.33333333%;
  }
}

#header{
  color: #333;
  font-size: 72px;
  margin-bottom: 10px;
  font-weight: 200;
}

#name{
  color: #555;
  font-size: 36px;
}

.social-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  margin-top: 0px;
  line-height: 50px;
  font-size: 36px;
  color: #333;
  text-decoration: none;
  background: #fefefe;
  vertical-align: middle;
}

.social-icon:hover{
  -webkit-transition-property: background, color;
  -webkit-transition-duration: 0.5s;
  background: #333;
  color: #fefefe;
}
